# Superset — copie ce fichier en .env et modifie si besoin
SUPERSET_SECRET_KEY=supersetsecretkey123
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
SUPERSET_DB_NAME=superset
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_ADMIN_EMAIL=admin@edna.fr
SUPERSET_ADMIN_PASSWORD=admin
